@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.bodyIndex{
    background-image: url("../img/fundo/index.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.bodyIndexADM{
    background-image: url("../img/fundo/index_adm.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 100vh;
    width: 100vw;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.bodyMapa{
    background-image: url("../img/fundo/mapa.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.bodyABC{
    background: url("../img/fundo/sub_abc.png") no-repeat center top fixed;
    height: 100vh;
    width: 100vw;
}
.cont {
    background-color: rgba(136, 136, 136, 0.5);
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

footer {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0   ;
    text-align:center;
    color: rgb(163, 162, 162);
}
.abc
{
    margin-top:35px;
    margin-left:183px;
    opacity:1;
}
.abc:hover
    {
        opacity:0.5;
    }
.casa
{
    margin-top:198px;
    margin-left:-70px;
    opacity:1;
}
.casa:hover
{
    opacity:0.5;
}
.alfabeto_numeral{
    margin-top: 10%;
    margin-left: 40%;

}


@media only screen and (max-device-width: 600px) {
    .bodyIndex{
        background-image: url("../img/fundo/index_mobile.png");
    }
    .bodyMapa{
        background-image: url("../img/fundo/mapa_mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        display: flex; 
        align-items: center; 
        justify-content: center;
    }
    .bodyABC{
        margin-top: 5% ;

    }
    .alfabeto_numeral{
        margin-top: 0%;
        margin-left: 0%;
    
    }
    footer{
        font-size: small;
    }
    .casa
    {
        position: static;
        margin-top:-148px;
        margin-left:135px;
    }
    .abc
    {
        position: static;
        margin-top:500px;
        margin-left:147px;
    }   
    .casa img{
        width: 50%;
        height: 40%;
    }
    .abc img{
        width: 80%;
        height: 90%;
    }
    .card{
        margin-top: 150px;
        height:50%;
    }
  }
